.list-image {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.list-price {
  color: rgba(0, 0, 0, 0.54);
}


.container {
  margin: 1rem;
}
.order-item {
  margin-bottom: 1rem;
}
